:root {
  --cinza-claro: #f2f2f2;
  --cinza-medio: #ddd;
  --cinza-escuro: #333;
  --amarelo-claro: #f3f56c;
  --amarelo-medio: #edf03c;
  --amarelo-escuro: #f8fc0d;
  --preto: #000;
  --vermelho: #d6480b;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cinza-claro);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.containerFlexPilha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFlexCarrossel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td:last-child {
  border-right: none;
  border-top: none;
  background-color: var(--cinza-claro);
}

table tr:nth-child(even) {
  background-color: var(--amarelo-claro)
}

table td:nth-child(2n), table td:nth-child(3n) {
  text-align: center;
}


form {
  text-align: center;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid var(--cinza-medio);
  padding: 15px;
  text-align: left;
}

button {
  background-color: var(--amarelo-medio);
  color: var(--preto);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.botaoExcluir {
  background-color: var(--vermelho);
  color: white;
}

.divBotoesTabelaTreino {
  padding-top: 20px;
}

.botaoImportarJsonDeTreino {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--amarelo-claro);
}

.zoom {
  transform: scale(1.6);
}

.divTabelaTreinos {
  height: 300px; /* Ajuste a altura conforme necessário */
  overflow-y: auto;
}

.divConfiguracaoDeTela {
  padding-bottom: 20px;
}

.divBotaoAdicionar {
  padding-bottom: 20px;
  padding-top: 20px;
}

