:root {
  --cinza-claro: #f2f2f2;
  --cinza-medio: #ddd;
  --cinza-escuro: #333;
  --amarelo-claro-real: #f0f2a2;
  --amarelo-claro: #d4d4d4;
  --amarelo-medio: #edf03c;
  --amarelo-escuro: #f8fc0d;
  --preto: #000;
  --vermelho: #d6480b;
}

.zoom {
  transition: transform 0.3s ease;
}

.menu {
  left: 1%;
  top: 1%;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    width: 100% !important;
    padding: 10px !important;
  }
  .menu {
    width: 80px;
    height: 80px;
  }
  .menuLateral {
    width: 80px;
  }
  .animarMenuDeCimaPraBaixo {
    height: 260px !important;
  }
  .itemDeMenuPrimeiro {
    margin-top: 60px !important;
  }
  .divAfastadaDasBordas {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    padding: 3em !important;
    font-size: 0.8em !important;
  }
  .divExecucaoLive {
    scale: 1 !important;
  }
  table {
    font-size: 1em !important;
  }
  button {
    font-size: 1em !important;
  }
  body {
    font-size: x-small !important;
  }
}

@media (min-width: 600px) {
  .menu {
    width: 140px;
    height: 140px;
  }
  .menuLateral {
    width: 140px;
    font-size: 1.5em !important;
  }
  .animarMenuDeCimaPraBaixo {
    height: 500px !important;
  }
  .itemDeMenuPrimeiro {
    margin-top: 140px !important;
  }
  .divAfastadaDasBordas {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    padding: 3em !important;
    font-size: 0.8em !important;
  }
  .divExecucaoLive {
    scale: 1 !important;
  }
  table {
    font-size: 1.3em !important;
  }
  button {
    font-size: 1.8em !important;
  }
  body {
    font-size: x-small !important;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 160px;
    height: 160px;
  }
  .menuLateral {
    width: 160px;
  }
  .animarMenuDeCimaPraBaixo {
    height: 500px !important;
  }
  .divAfastadaDasBordas {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    padding: 5em !important;
    font-size: 1em !important;
  }
  table {
    font-size: 1.3em !important;
  }
  button {
    font-size: 1.8em !important;
  }
  body {
    font-size: x-small !important;
  }
}

@media (min-width: 1200px) {
  .menu {
    width: 230px;
    height: 230px;
  }
  .menuLateral {
    width: 230px;
  }
  .itemDeMenuPrimeiro {
    margin-top: 140px !important;
  }
  .animarMenuDeCimaPraBaixo {
    height: 500px !important;
  }
  .divAfastadaDasBordas {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    padding: 5em !important;
    font-size: 1em !important;
  }
  table {
    font-size: 1.3em !important;
  }
  button {
    font-size: 1.8em !important;
  }
  body {
    font-size: medium !important;
  }
}

.linhaTopo {
  border-top-width: 3px;
  border-top-style: solid;
  border-right-width: 3px;
  border-right-style: solid;
  border-left-width: 3px;
  border-left-style: solid;
}

.linhaMeio {
  border-right-width: 3px;
  border-right-style: solid;
  border-left-width: 3px;
  border-left-style: solid;
}


.linhaFim {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-right-width: 3px;
  border-right-style: solid;
  border-left-width: 3px;
  border-left-style: solid;
}

.menu img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.menuCompleto {
  opacity: 0.4;
}

.menuLateral {
  left: 1%;
  top: 7%;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: black;
  position: absolute;
  border-radius: 2%;
  overflow: auto;
  overflow-x: hidden;
  height: 0%;
  transition: height 0.6s ease;
  color: white;
}

.animarMenuDeCimaPraBaixo {
/*  height: 40vh;*/
}

.itemDeMenuPrimeiro {
  margin-top: 120px;
}

.itemDeMenu {
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
/*2560×1278*/
html {
  z-index:1; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  flex: 1;
  border: 15px solid transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  display: flex;
}

body {
  z-index:1; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
  background-color: var(--cinza-claro);
  font-size: small;
  min-height: 100%;
  min-width: 100%;
  padding-top: 10vh;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  height: 30%;
}

table {
  display: table;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin: 20px;
  margin-left: 0;
  padding-left: 0px !important;
}

.containerFlexPilha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFlexCarrossel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containerGridReduzido {
  display: grid;
  grid-template-columns: 20px 20px 1.5fr;
}

.containerGridReduzido4 {
  display: grid;
  grid-template-columns: repeat(3, 40px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-bottom: 4px;
  text-align: center;
}

td {
  /*border: 1px solid var(--cinza-medio);*/
  padding: 4px;
  text-align: left;
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table td:last-child {
  border-right: none;
  border-top: none;
  border-bottom: none !important;
  padding-top: 2vh;
}

table tr:nth-child(even) {
  background-color: var(--amarelo-claro)
}

table td:nth-child(1n){
  padding-left: 4px;
  border-left: none;
}

table td:nth-child(3n), table td:nth-child(4n), table td:nth-child(5n) {
  text-align: center;
}

form {
  text-align: center;
}

label {
  text-align: right;
  padding-right: 20px;
}

p {
  text-align: center;
}

button {
  background-color: var(--preto);
  color: var(--amarelo-medio);
  font-size: 1.2em !important;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.buttonPreto {
  background-color: var(--preto);
  color: white;
  border-color: var(--amarelo-medio);
  border-width: 2px;
  border-style: solid;
}

.buttonVermelho {
  background-color: var(--vermelho);
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.labelAddExercicio {
  padding-right: 5px;
}

.foo {
  margin-top: 30%;
  margin-left: 30%;
}

.inputAdicionarExercicioNoSistema {
  /*margin-right: 20px;*/
}

.bordear {
  border-color: var(--preto);
  border-width: 1px;
  border-style: solid;
}

.divConfigurarExercicios {
  margin-bottom: 20vh;
}

.divAfastadaDasBordas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5em;
}

.divExecucaoLive {
  top: 60%;
  z-index: 3;
  position: absolute;
  scale: 1.3;
  left: 8vw;
  background: var(--amarelo-claro-real);
  border-radius: 40px 40px 0px 0px;
  border-style: solid;
  border-width: 1px;
  opacity: 0.9;
  width: 75vw;
  max-width: 600px;
  max-height: 250px;
}

.arrastavel {
  position: absolute;
  cursor: move;
}

.divAnteriorExercicioLive {
  margin-right: 20px;
  font-size: 2rem;
}

.divProximoExercicioLive {
  margin-left: 20px;
  font-size: 2rem;
}

.divCancelarExecucaoLive {
  margin-right: 20px;
}

.divOpcoesExecucaoLive {
  margin-top: 2vh;
}

.divAdicionarExecucaoDeExercicioLive {
  padding-bottom: 2vh;
  margin-top: 2vh;
}

.divCamposAdicionarExercicioLive {
  margin-right: 20px;
}

.divNomeDoExercicioLive {
  text-align: center;
  width: 20vw;
}

.divEmoji {
  font-size: 1.5em;
  margin-right: 4vw;
}

.divExerciciosCadastrados {
  margin-top: 20px;
  padding-bottom: 20px;
}

.divBotoesTabelaTreino {
  padding-top: 20px;
}

.divConfiguracoes {
  max-height: 60vh;
  min-width: 50vw;
  overflow-y: auto;  
  transition: height 0.5s ease-in-out;
}

.divCamposAdicionarExercicio {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.divBotaoAdicionar {
  padding-bottom: 20px;
  padding-top: 20px;
}

.divTreinos {
  /* padding-top: 20px; */
}

.divTabelaTreinos {
  max-height: 60vh;
  min-width: 50vw;
  overflow-y: auto;  
  transition: height 0.5s ease-in-out;
}

.divConfiguracaoDeTreino {
  max-height: 70vh;
  max-width: 70vw;
  overflow-y: auto;  
  transition: height 0.5s ease-in-out;
}

.divFichaTreinoApresentacao {
  background-color: var(--amarelo-claro);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}

.divFichaTreino {    
    display: grid;
    grid-template-areas:
    "listagemDeExerciciosDaFicha listagemDeExerciciosDaFicha"
    "selectExerciciosCadastrados adicionarExerciciosNaFichaDeTreino"
    "inputNomeDaFicha inputNomeDaFicha"
    "maisUmaFichaDeTreino menosUmaFichaDeTreino";
    background-color: var(--amarelo-claro);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
    padding: 3px;
    align-items: center
}

.inputNomeDaFicha {    
  grid-area: inputNomeDaFicha;
}

.listagemDeExerciciosDaFicha {    
  grid-area: listagemDeExerciciosDaFicha;
}

.selectExerciciosCadastrados {    
  grid-area: selectExerciciosCadastrados;
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 60px !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.comprimirSelectExerciciosCadastrados {
  margin-left: 20px !important;
}

.adicionarExerciciosNaFichaDeTreino {
  max-width: 20px;
  min-width: 20px; 
  max-height: 20px;
  min-height: 20px;
  grid-area: adicionarExerciciosNaFichaDeTreino;
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.iconeMacros {
  width: 80px;
  border-radius: 100%;
}

.inputSimples {
  border: none;
  width: 80px;
}

.inputMacros {
  margin-top: 20px;
}

.iconeMacrosReduzido {
  width: 40px;
  border-radius: 100%;
}

.emojiAcoesAddTreinoRight {
  padding-top: 10px;
  margin-left: 20%;
}

.emojiAcoesAddTreinoLeft {
  padding-top: 10px;
  margin-right: 20%;
}

.botaoAdicionarFicha {
  margin-top: 15px;
}

