:root {
  --cinza-claro: #f2f2f2;
  --cinza-medio: #ddd;
  --cinza-escuro: #333;
  --amarelo-claro: #f3f56c;
  --amarelo-medio: #edf03c;
  --amarelo-escuro: #f8fc0d;
  --preto: #000;
  --vermelho: #d6480b;
}

.zoom {
  transition: transform 0.3s ease;
}

.menu {
  left: 1%;
  top: 1%;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 850px) {
  .menu {
    width: 50px; /* Largura fixa: 500px */
    height: 50px; /* Largura fixa: 500px */
  }
  .menuLateral {
    width: 50px; /* Largura fixa: 500px */
    height: 500px; /* Largura fixa: 500px */
  }
}

@media (min-width: 851px) {
  .menu {
    width: 100px; /* Largura fixa: 500px */
    height: 100px; /* Largura fixa: 500px */
  }
  .menuLateral {
    width: 100px; /* Largura fixa: 500px */
    height: 80%; /* Largura fixa: 500px */
  }
}

.menu img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.menuLateral {
  left: 1%;
  top: 6%;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: black;
  position: absolute;
  border-radius: 2%;
  overflow: auto;
  height: 0%;
  transition: height 1.5s ease;
  color: white;
}

.itemDeMenuTabelaDeTreino {
  margin-top: 70px !important;
}

.itemDeMenu {
  margin: 10px;
}

@media (max-height: 1500px) {
}

@media (min-height: 1501px) {
}

.animarMenuDeCimaPraBaixo {
  height: 90%;
}

html {
  z-index:2; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  flex: 1;
  border: 15px solid transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-image: repeating-linear-gradient(45deg, var(--amarelo-claro), var(--preto), var(--amarelo-escuro) 30px) 60;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  display: flex;
}

body {
  z-index:1; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background-color: var(--cinza-claro);
  font-size: small;
  min-height: 100%;
  min-width: 100%;
}

table {
  display: table;
}

.containerFlexPilha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFlexCarrossel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerGrid {
  display: grid;
/*  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: repeat(2, 1fr); 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-bottom: 4px;
  text-align: center;
}

td {
  border: 1px solid var(--cinza-medio);
  padding: 4px;
  text-align: left;
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table td:last-child {
  border-right: none;
  border-top: none;
/*  background-color: var(--cinza-claro);*/
}

table tr:nth-child(even) {
  background-color: var(--amarelo-claro)
}

table td:nth-child(1n){
  padding-left: 4px;
  border-left: none;
}

table td:nth-child(2n), table td:nth-child(3n) {
  text-align: center;
}

form {
  text-align: center;
}

label {
  text-align: right;
  padding-right: 20px;
}

p {
  text-align: center;
}

button {
  background-color: var(--amarelo-medio);
  color: var(--preto);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.botaoExcluirRegistroDeTreino {
  background-color: var(--vermelho);
  color: white;
  font-size: x-small;
}

.botaoEditarRegistroDeTreino {
  background-color: var(--preto);
  color: white;
  font-size: x-small;
}

.botaoExcluirTodosOsDados {
  background-color: var(--vermelho);
  color: white;
}

.divBotoesTabelaTreino {
  padding-top: 20px;
}

.botaoImportarJsonDeTreino {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--amarelo-claro);
}

.divConfiguracaoDeTela {
  padding-bottom: 20px;
}

.divAdicionarExercicio {
  border: 1px solid var(--cinza-medio);
}

.divCamposAdicionarExercicio {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.divBotaoAdicionar {
  padding-bottom: 20px;
  padding-top: 20px;
}

.divTreinos {
  padding-top: 20px;
}

.divTabelaTreinos {
  max-height: 40vh;
  overflow-y: auto;  
  transition: height 0.5s ease-in-out;
}

.encolherDiv {
/*  height: 100px;*/
}
